        .header{
            text-align: center;
        }
        p {
            text-align: center;
        }
        .bold{
            font-weight: bold;
        }
        .color{
            color: rgb(100, 11, 182);
        }
        .button{
            margin:  auto;
            display: block;
            background-color: blueviolet;
            padding: 10px;
            border-radius: 20px;

        }
        .image{
            text-align: center;
            margin: 15px;
        }