:root {
  --branding-color:  rgb(90, 90, 189);
  --secondary-color: #F9F7FE;
  --heading-font: "playfair display", serif;
  --default-font: "popins", sans-serif;
}
h1,h2,h4,h5,h6{  
  color: #000000;
  font-family: var(--default-font);
  font-weight: bold;
  font-size: 50px;
}

p{
  font-family: var(--default-font);
  font-weight: normal;
  font-size: 16px;
}
.hero {
  background: #F9F7FE;
  text-align: center;

}
.hero p{
  font-size: 36px;
  font-weight: bold;
  margin: auto;
}
.hero h2{
  font-family: var(--heading-font);
  font-weight: normal;
  font-size: 24px;
}

h2{
  font-size: 64px;
  font-weight: bold;
 
}
.btn-branding{
  font-size: 18px;
  color: var(--branding-color);
  line-height: 27px;
  padding:15px 30px;
  border: 1px solid var(--branding-color);
  text-align: justify;


}
.about-page h1{
  font-size: 64px;
  line-height: 80px;
}

.about-page p{
  font-size: 24px;
  line-height: 36px;
  font-family: var(--default-font);
}


.custom-img{
  width: 60%;
  height: 60%;
  border-radius: 10px;
  margin: auto;
}
.about-page{
  padding: 140px 20px;
}
.about-section-content{
  margin: 50px 0;
}
.work-content{
  margin: 50px 0;
}
work-page{
  padding: 140px 20px;
}
work-page h1{
  font-size: 50px;
  line-height: 50px;
}
.work-content p{
  font-size: 16px;
  line-height: 1;
  
}
.contact-page{
  padding: 140px 20px;
  text-align: center;
}
.logo{
  max-width: 150px;
}
nav li{
  display: inline;
  list-style: none;
  margin: 15px;
  font-weight: bold;
}
nav ul{
  padding: 0;
  margin: 0 ; 
}
nav a{
  text-decoration: none;
  color: #272142;
  transition: all 100ms  ease-in-out;
}

nav li.active a,
nav li a:hover{
  color: var(--branding-color);
} 
.email-link{
  color: black;
  font-size: 30px;
  text-decoration: none;
}
footer.email-link:hover{
  color: var(--branding-color);

}
 .socials a{
  margin: 0 20px;
  color:var(--branding-color);
  background-color: var(--secondary-color);
  padding: 10px 14px;
  font-size: 24px;
  border-radius: 50%;
  text-decoration: none;
}
.socials a:hover{
  color: white;
  background-color: var(--branding-color);
}
.contact-box{
  margin: 20px 0;
  background-color: var(--secondary-color);
  padding:  30px 30px;
  border-radius: 10px;
}
nav li.active a {
  color: var(--branding-color);
  font-weight: bold;
}
@media screen and (max-width: 768px){
  h1{
    font-size: 64px;
    font-weight: bold;
  }
  h2{
    font-size: 48px;
    font-weight: bold;
  }
  .about-page{
    text-align: center;
    padding: 0;
  }
  .work-page{
    text-align: center;
    padding: 0;
  }
  nav a{
    font-size: 16px;
  }
  
}
