body{
  background-color: aquamarine;
  font-family: "Montserrat", serif;
  font-style: normal;
     }

.app{

  
  background-color: whitesmoke;
  border-radius: 20px;
  width: 600px;
  margin: 5px auto;
  padding: 20px;
  box-shadow: 0 50px 60px  rgba(158, 20, 20, 0.1);
}

main{
  padding:20px;
}
header{
  margin-bottom: 20px;
}
.search-form-input{
  background-color: white;
  border-radius: 7px;
  padding: 10px;
  width:40%;
  border: 1px solid blue;
  margin-right: 10px;
  box-shadow: inset;

}
.search-form-button{
  background-color:purple;
  padding: 10px 5px;
  border-radius: 10px;
  margin-left: 10px;
  color: white;
  font-size: 16px;
  width: 15%;
}
.weather-app-cointainer{
  font-size: 2em;
  display: flex;

}
.weather-app-city{
  margin: 0 ;
  font-size: 30px;
  line-height: 48px;
}
.weather-app-details{
  font-size: 20px;
  font-weight: 500;
}
.weather-app-details strong{
  color: purple;
  
}
.weather-app-icon {
  width: 50px;
  margin-bottom: 30px;
}

.weather-app-temperature {
  font-size: 50px;
  font-weight: 700;
  margin-left: bold;
  line-height: 70px;
}

.weather-app-unit {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 30px;
}
 
.weather-forecast {
  display: flex;
  margin-top: 20px;
}

.weather-forecast-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  margin: 0 10px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 0 10px 20px  rgba(158, 20, 20, 0.1);
  width: 70px;
  text-align: center;
}

.weather-forecast-date {
  font-size: 20px;
  line-height: 20px;
  color: rgb(110, 14, 110);
  margin-bottom: 10px;
}

.weather-forecast-icon {
 text-align: center;
 width: 70px;
 display: block;
 margin: auto;
}

.weather-forecast-temps {
  display: flex;
  justify-content: center;
  padding: 0 10px;
}

.weather-forecast-temp {
  color: purple;
  margin-top: 10px;
  padding: 0 10px;
}